body{
    background-color:#F19ED2;
    margin: 0px;
}
.title{
    background-color: #91DDCF;
    color: #F7F9F2;
    text-align: center;
    margin: 0px;
    padding: 25px;
}
.list{
    background-color:#E8C5E5;
    color: #f32aa9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin : 0 auto;
    width: 50%;
}
.list li{
    padding: 10px;
    margin-top: 20px;
}
